<div class="navbar p-3 bg-dark">
  <%# image_tag "AlightTouchLogoSmall.png", width: 75 %>
  <div class="link-texts" style="width: 100px"></div>
  <div class="Logo"><i class="fa-solid fa-film text-light">FilmSet</i></div>
  <div class="sign-up">
    <%= link_to "Log in", "#", class: "mx-3 text-decoration-none"%>
    <%= link_to "Sign Up", "#" , class: "btn btn-primary rounded-5" %>
  </div>
</div>
<div class="banner bg-magic-mike show-reel">
  <%= render "movie_carousel" %>
  <h1>Save any kind of movies</h1>
</div>
<div class="container p-3">
  <%= link_to "Create a List", new_list_path %>
  <div class="lists d-flex justify-content-between">
    <% @lists.each do |list| %>
      <div class="d-flex p-4 border rounded-5" style="background-image: url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : image_path('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU') %>)">
        <h2><%= link_to "#{list.name}", list_path(list) %></h2>
        <%= link_to list_path(list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
          <i class="fa-solid fa-trash"></i>
        <% end %>
      </div>
      <%# cl_image_tag("#{list.photo.key}") %>
      <%# cl_image_tag("o7bz8mnk2y3yw8f152z830y36ag8") %>
    <% end %>
  </div>
  <%# cl_image_tag("BQ_Wallpaper_1_wgw1jw") %>
</div>
